.farmersPage {
  display: flex;
  flex-direction: column;
}
.fermersMass {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}
.farmersFilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
