.farmersCardWrapp {
  display: flex;
  margin: 8px;
  flex-direction: column;
  border: 0.0625rem solid #e9ecef;
  border-radius: 8px;
  overflow: hidden;
  width: 260px;
}
.avatar {
  width: 260px;
  height: 250px;
  object-fit: cover;
  background-color: #e9ecef;
}
.farmersBox {
  padding: 12px;
}
.raitingBox {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
.linkCard {
  margin-top: 15px;
  text-decoration: none;
  background-color: #40c057;
  border-radius: 8px;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  outline: none;
}
.linkCard:hover {
  background-color: #287d37;
}
.editButtonCard {
  width: 100%;
  border: none;
  margin-top: 15px;
  text-decoration: none;
  background-color: #40c057;
  border-radius: 8px;
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}
.editButtonCard:hover {
  background-color: #287d37;
}
.modalInput {
  margin-bottom: 10px;
}
.ButtonModalBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}
